body {
  font-family: "Slab Serif", serif;
  font-weight: bold;
}
main {
  width: 100vw;
  border: 2px solid black;
  }
  
#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;}

.card {
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-direction: column;
  width: 40px;
  font-size: 40px;
  text-align: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap-reverse;
  align-self: flex-end;
  width: 40px;
  font-size: 40px;
  transform: rotate(180deg);
  text-align: center;
}

.middle {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  font-size: 80px;
}