.blog-post-card {
  display: grid;
  place-items: center;
  background-color: white;
  border: solid;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  text-align: center;
}
.post-img {
  max-width: 100%;
  height: 100%;
  display: block;
  border-bottom: 2px red solid;
}
.post-content {
  padding: 10px;
}
.post-title {
  color: blue;
  margin: 10px;
}
.post-excerpt {
  color: red;
  margin: 10px;
}
.read-more {
  color: white;
  background-color: green;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  border: none;
}
.read-more:hover {
  background-color: blue;
}
