body {
   color: rgba(255, 255, 255, 0.8);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title {
  text-align: center;
  margin: 20px;
  color: #624a9c;
  font-size: 40px;
}
.color-box {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 10px auto;
}
.color1 {
  background-color: #624a9c;
}
.color2 {
  background-color: rgb(124, 96, 21);
}
.color3 {
  background-color: blue;
}
.color4 {
  background-color: hsl(30, 50%, 50%);
}
.color5 {
  background-color: green;
}
.container {
  display: inline-block;
  text-align: center;
}
