.form-container {
  background-color: rgba(25, 134, 89, 0.5);
  border-radius: 10px;
  padding: 10px 0;
  width: 50%;
  margin: auto;
}
label {
  font-family: Tahoma;
  color: #000000;
  margin: 10px auto;
  display: block;
  text-align: center;
}
input, textarea {
  width: 75%;
  padding: 5px;
  margin-bottom: 10px;
}
button {
  background-color: blue;
  font-size: 12px;
  color: white;
  border-radius: 5px;
}
button:hover {
  background-color: cyan;
  color: white;
}