body {
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
  font-family: Tahoma, sans-seriff;
}
.feature-card-container {
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 75, 0.8);
  margin: auto;
  text-align: left;
}
h1 {
  font-size: 30px;
  color: Crimson;
  font-weight: bold;
}
p {
  font-size: 20px;
}

label {
  display: block;
  cursor: pointer;
  margin: 20px auto;
  font-size: 20px;
}

input[type="checkbox"] {
  appearance: none;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 15px;
}
input[type="checkbox"]:checked {
  background-color: crimson;
  border: 2px solid darkgray;
}

input[type="checkbox"]:checked:after {
  content: "✓";
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}