body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
  display: block;
}
hr {
  width: 50%
}
section {
  width: 50%
}
