#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px;
  box-sizing: border-box;
  text-align: right;
  margin-right: 60%;

}
#confidential, #top-secret {
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  border: 5px solid red;
  background-color: white;
  color: red;
  font-size: 24px;
  border-radius: 3px;
  font-weight: bold;
  background: transparent;
}
#confidential {
  transform: rotate(-20deg);
}
#top-secret {
  transform: rotate(30deg);
}
p {
  text-align: left;
}
.blurred {
  filter: blur(3px);
}